@charset "UTF-8";
@media screen AND (min-width: 768PX){
    i#burguer{
        display: none;
    }
    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    }
    main{
        width: 768px;
    }
}